.nav-wrap{
  height: 60px;
  padding: 0 var(--spacing-lg);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  color: var(--white);
}

.nav-wrap-link:last-child{
  margin-right: 0;
  margin-left: auto;
}

