.header-wrap {
  height: 60px;
  padding: 0 var(--spacing-lg);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  color: var(--white);
}

.logo {
  transform: rotate3d(1, 1, 1, 30deg);
}
.logo-content {
  filter: brightness(110%);
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #e91e63,
    0 0 35px #e91e63, 0 0 40px #e91e63, 0 0 50px #e91e63, 0 0 75px #e91e63;
  animation: logo 1.5s ease-in-out infinite alternate;
  display: inline;
  font-family: "Lobster";
  text-align: center;
  font-size: 32px;
  color: #fff;
  cursor: pointer;
  &:hover {
    color: #fff;
  }
}

@keyframes logo {
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #e91e63,
      0 0 70px #e91e63, 0 0 80px #e91e63, 0 0 100px #e91e63, 0 0 150px #e91e63;
  }
}
