@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #000000;
  --white: #ffffff;
  --background-start-rgb: 214, 219, 220;
  --spacing-lg: 4rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --dark: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--white));
  background: var(--dark);
  background-image: url(https://media-rockstargames-com.akamaized.net/tina-uploads/tina-modules/3841/ea6bfdeb8147a4a83510ae012e8878dfd35db766.jpg);
}
